<h1><%= @title %></h1>

<form action ="/meetups/submit" method="post">
    <label for="meetup_name">Name</label>
      <input type="text" id="name" name="name"/><br>

    <label for="location">Location</label>
      <input type="text" id="location" name="location"/><br>

    <label for="description">Description</label>
      <textarea id="description" name="description"/></textarea><br>

      <input type="submit" />
  </form>
